<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    //handlebars comes from the double curly brackets
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
//individual pages can inject their content here
//2 curly brackets means only text and 3 will render the html
<body>
    {{{ body }}}
</body>
</html>
